@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

.intro {
    background: #B098A4;
    color: white;
    height: 115px;
    text-align: center;
    margin: 0 auto 18px;
    overflow: hidden;
}

.footer {
    margin: 0 auto 8px;
    text-shadow: 0 1px 0px #fff;
    text-align: center;
    font-size: 12px;
}

.para {
    text-align: center;
    margin: 0 auto 18px;
}

.tooltip {
    position: absolute;
    text-align: center;
    max-width: 140px;
    max-height: 180px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-top: -30px;
    font: 12px sans-serif;
    background: black;
    color: white;
    pointer-events: none;
}